<!DOCTYPE html>

{% load staticfiles %}
<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
<link rel="stylesheet" href="/static/css/RegistrationStyle.css">
<meta charset="UTF-8">
<html lang="en">
	{% block head %}
		<title>AUSSIE SQUASH MATE!</title>	
	{% endblock %}
	
	{% block navigation %}	
		<br><br>	
		<nav>	
			<li class="link"><a href="{% url 'auth_logout' %}">Log Out</a></li>
			<li class="link"><a href="{% url 'auth_logout' %}">Log Out</a></li>
			<li class="link"><a href="{% url 'auth_logout' %}">Log Out</a></li>
			<li class="link"><a href="{% url 'auth_logout' %}">Log Out</a></li>
		</nav>
		<br><br>	
	{% endblock %}
	
	{% block body %}
	{% endblock %}
	
	{% block footer %}
		<footer>
			© 2018 ASA
		</footer>
	{% endblock %}
</html>
