<!-- Login Page -->
{% extends 'base.html' %}

<html lang="en">

	{% block head %}
		<head>
			<title>AUSTRALIAN SQUASH ANALYSIS</title>	
			<meta name="viewport" content="width=device-width, initial-scale=1">
		</head>
	{% endblock %}
	{% block navigation %}{% endblock %}

	{% block body %}
		<body>
			<main>
				<h1>AUSTRALIAN SQUASH ANALYSIS</h1>
				<hr>
				<div class="form">
					<div id="login">
						<h4>Login here</h4>
						
						<!-- Form for loging in -->
						<form method="post">
						
							<!-- Check for errors -->
							{% if login_error  != NULL %}
								<div class="error">
									<strong>{{ login_error |escape }}</strong>
								</div>
							{% endif %}

							{% csrf_token %}
							<div class="div-wrap">
								{{form.username}}
							</div>
							<div class="div-wrap">
								{{form.password}}
							</div>
							<button type="submit" class="button button-block" value="loginForm" name="loginForm"/>Log In</button>
						</form>
					</div>
				</div>
			</main>		
		</body>
	{% endblock %}
	
</html>