<!-- Registration Page -->
{% extends 'base.html' %}

<html lang="en">	
	{% block head %}
		<head>    
		<title>AUSTRALIAN SQUASH ANALYSIS</title>		
				
		</head>		
	{% endblock %}

	{% block navigation %}{% endblock %}
	{% block body %}
		<body>
			<main>
				<h1>AUSTRALIAN SQUASH ANALYSIS</h1>
				<hr>
				
				<!-- Form for registering -->
				<div class="form">
					<h4>Register below to use ASA</h4>
					<h4>Please contact admin about registering as a Coach</h4>
					<form  method="POST">
						{% if form.errors %}
							{% for field in form %}
								{% for error in field.errors %}
									<div class="error">
										<strong>{{ error|escape }}</strong>
									</div>
								{% endfor %}
							{% endfor %}
							{% for error in form.non_field_errors %}
								<div class="error">
								<strong>{{ error|escape }}</strong>
								</div>
							{% endfor %}
						{% endif %}
						
						{% if password_error != NULL %}
							<div class="error">
									<strong>{{ password_error|escape }}</strong>
							</div>
						{% endif %}
						
						{% csrf_token %}
						
						<div class="div-wrap">
							{{ form.first_name }}
						</div>

						<div class="div-wrap">
							{{ form.last_name }}
						</div>
					
						<div class="div-wrap">
							{{ form.username }}
						</div>							
						
						
						<div class="div-wrap">
							{{ form.email }}						
						</div>
						<div class="div-wrap">
							{{ form.password }}
						</div>
						<div class="div-wrap">
							{{ form.confirm_password }}
						</div>						
						<button type="submit" class="button button-block" value="registerForm" name="registerForm"/>Register</button>
						
						<div class="link">
							<h4>Already a user? <a  class="login" href="/squashApp/login">Login</a></h4>
						</div>					
					</form>
				</div>
			</main>
		</body>
	{% endblock %}
</html>