<!-- For video selection page -->

{% extends 'base.html' %}
<html>
	 {% block head %}
		<head>				
	
			<title>Video Selection</title>
			<h1>Video Selection</h1>
		</head>
	{% endblock %}


	{% block body %}
		<body>
			<h3> G'day {{user.get_username}} ({{user.usertype}})</h3>
			
			<!-- Load the search Form -->
			<form class="form" method="POST">
				{% csrf_token %}
			   
				<div class="div-wrap">
					{{ form.searchVideo }}
				</div>
				
				
				<div class="div-wrap">
					<div class="searchPlayer">
						{{ form.searchPlayer }}
					</div>
				</div>
					
				<br><br>
				<button type="submit" class="button button-block" value="search" name="search"/>search</button>				
									
			</form>
			
			<!-- If there isnt a search -->
			{% if showSearch != True %}
				<h3> Recent Uploads </h3>
				<br>
				<table> 
					<tr>
						<th>Video</th>
						<th>Player 1</th>
						<th>Player 2</th>
						<th>Link</th>
					</tr>
					<!--Display each video-->
					{% for video in reversedList|slice:":10" %}		
						<!-- check user type -->
						{% if user.usertype == "C"%}
							<tr>
								<td class="t1"><a class="show" href="{% url 'videoData' videoId=video.videoId %}">{{ video.name }}</a></td>
								<td class="t2"><a class="show" href="{% url 'videoData' videoId=video.videoId %}">{{ video.player1.get_name }}</a></td>						
								<td class="t3"><a class="show" href="{% url 'videoData' videoId=video.videoId %}">{{ video.player2.get_name }}</a></td>									
								<td class="t4"><a class="show" href="{% url 'videoData' videoId=video.videoId %}">VIEW MATCH</a></td>
							</tr>
						{% endif %}
						
						{% if user.usertype == "P" %}
							<!-- if user is player only show their uploaded videos -->
							{% if user.get_username == video.uploadedBy %}
								<tr>
									<td class="t1"><a class="show" href="{% url 'videoData' videoId=video.videoId %}">{{ video.name }}</a></td>
									<td class="t2"><a class="show" href="{% url 'videoData' videoId=video.videoId %}">{{ video.player1.get_name }}</a></td>						
									<td class="t3"><a class="show" href="{% url 'videoData' videoId=video.videoId %}">{{ video.player2.get_name }}</a></td>									
									<td class="t4"><a class="show" href="{% url 'videoData' videoId=video.videoId %}">VIEW MATCH</a></td>
								</tr>
							{% endif %}
						{% endif %}
					{% endfor %}
				</table>
			{% endif %}
			
			
			<!-- If there is a search -->
			{% if showSearch == True %}
				<h3> Search Results </h3>
				<table> 
					<tr>
						<th>Video</th>
						<th>Player 1</th>
						<th>Player 2</th>
						<th>Link</th>
					</tr>
					{% for video in videoList %}	
						{% if user.usertype == "C"%}
							<tr}> </a>
								<td class="t1"><a class="show" href="{% url 'videoData' videoId=video.videoId %}">{{ video.name }}</a></td>
								<td class="t2"><a class="show" href="{% url 'videoData' videoId=video.videoId %}">{{ video.player1.get_name }}</a></td>	
								<td class="t3"><a class="show" href="{% url 'videoData' videoId=video.videoId %}">{{ video.player2.get_name }}</a></td>							
								<td class="t4"><a class="show" href="{% url 'videoData' videoId=video.videoId %}">VIEW MATCH</a></td>
							</tr>
						{% endif %}
						<!-- if user is player only show their uploaded videos -->
						{% if user.usertype == "P" %}						
							{% if user.get_username == video.uploadedBy %}
								<tr>
									<td class="t1"><a class="show" href="{% url 'videoData' videoId=video.videoId %}">{{ video.name }}</a></td>
									<td class="t2"><a class="show" href="{% url 'videoData' videoId=video.videoId %}">{{ video.player1.get_name }}</a></td>						
									<td class="t3"><a class="show" href="{% url 'videoData' videoId=video.videoId %}">{{ video.player2.get_name }}</a></td>									
									<td class="t4"><a class="show" href="{% url 'videoData' videoId=video.videoId %}">VIEW MATCH</a></td>
								</tr>
							{% endif %}
						{% endif %}
						
					{% endfor %}
				</table>
			{% endif %}			
		</body>
	{% endblock %}
</html>
