/* 
colour 1 f7f7f7 light
colour 2 eeeeee
colour 3 929aab
colour 4 393e46 dark
 Dark
 #17252A
 #2B7A78
 #3AAFA9
 #DEF2F1
 #FEFFFF 
 Light
 	#808080
	585c65
 */
main  {
	min-width: 800px;
}

img{
	 max-width: 100%;
	 height: auto;	
	 width: auto/9;	
	 padding: 5px;
}

#picCol{
	padding-left: 10px;
	padding-right: 10px;
}

h1  {
	text-align: center;
	color: #17252A; /*Color 1*/
	margin: 0;	
	font-size: 70px;
	min-width: 400px;
}

h2  {
	text-align: center;
	color: #17252A; /*Color 1*/
	margin: 0;	
	font-size: 48px;
	letter-spacing: 4px;
}

h3  {
	margin: 0 0 5px;
	text-align: center;	
	font-size: 30px;
	color: black;
}

h4  {
	text-align: center;
	color: white;
	font-size: 28px;
}
#h4_form{
	text-align: left;

}

h5{
	color: white;
	font-size: 20px;
	
}

.login {
	color:#FEFFFF; /*Color 3*/
}

#mainColumn{
	padding: 10px;
	
}


.row:after {
    content: "";
    display: table;
    clear: both;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}

hr  {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 2px;
	border-color: #6e7f80;
}

*, *:before, *:after  {
	box-sizing: border-box;
}

html  {
	overflow-y: scroll;
}

body  {
	background: #f7f7f7;
	
}

a, .left  {
	text-decoration:none;
	
	color: black;
	transition:.5s ease;
}

a:hover, .left:hover  {
	color: #808080;
}


#nav_main{
	padding-left: 10px;
	float: left;

}
#nav_logout{
	float: right;
}
#logout_link{
	color: #eeeeee;
}
li  {
	display: inline;

	font-size: 24px;
	border-radius: 3px;
}


.link  {
	color: black;
	padding: 1px 10px 1px 10px;
}

.button-container  {
	position: relative;
	text-align: center;
	display: table;
	margin: 0 auto;
	padding-bottom: 20px;
}

.button-link  {
	border: solid #393f44 1px; /*Color 4*/
	position: relative;
	border-radius: 100px;
	display: block;
	padding: auto;
	background: #a0b3b0; /*Color 4*/
	text-align: center;
	
	color: #a0b3b0;
	font-size: 20px;
}

.button-group  {
	list-style: none;
	display: table;
	margin: 0;
	padding: 0;
}

.button-group li  {
	display: table-cell;
	position: relative;
}

.button-group li a:hover  {
	background: #808080;
	color: #ffffff; /*Color 2*/
}

input::placeholder  {
	color: rgba(255, 255, 255, 0.5); /*Color 4*/
}

.drop-down  {
	background-color: #585c65;/*Color 4*/
	padding: 6px; 
	color: #eeeeee; /*Color 5*/
	float: right;
	font-size: 20px;	
}
.searchPlayer{
	float: left;
	
}

footer  {
	text-align: center;
	background-color: #17252A;
	color: white;
	
	
}

.field-wrap-error {
	position: relative;
	margin-bottom: 10px;
	padding-bottom: 10px;
	font-size: 1.3rem;
	color: #D8000C;
}

table  {
	width: 80%;
	text-align: center;	
	margin: 0 auto 20px auto;	
	table-layout: fixed;
	border-collapse: collapse;
}
td, th{
	
	padding: 8px;
	border-bottom: 1px solid black
	
}

tr:nth-child(even){
	background-color: #eeeeee;
}
tr:hover {
	 background-color: #ddd;
}
th {
	height: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:#585c65; 
    color: white;
	font-size: 25px;
}

/* Video Data table*/

.videoDataTable  {
	width: 100%;
	text-align: center;	
	margin: 0 auto 20px auto;	
	table-layout: fixed;
	border-collapse: collapse;
}
.videoDataTable td, th{
	
	padding: 8px;
	border-bottom: unset;
	
}

.videoDataTable tr:nth-child(even){
	background-color: unset;
}
.videoDataTable tr:hover {
	 background-color: unset;
}



.show{
	font-size: 20px;
	color: black;
	font-style: bold;
}
/* th  {
	background-color:#585c65; 
	
	height: 50px;
	font-size: 25px;
	border-bottom: 1px solid black
}
td  {
	background-color:#eeeeee;  
	height: 40px;
	font-size: 20px;
	border-bottom: 1px solid black
	
}

tr{
    nth-child(even) {background-color: black;}
}
 */
 
 
 
label  {
	position: absolute;
	left: 13px;
	color: white;  /*Color 5*/
	font-size: 22px;
}

/* For edit page */
#edit-block  {
	padding-left:50px;
	display: inline-block;
	box-sizing: border-box;
	width: 600px;
}

.edit-input  {
	color: #2C4A52;
}

.edit-input::placeholder  {
	color: #ACBEBE;
}

.edit-form-p  {
	
	font-size: 1.25rem;
}

.form  {
	background: #17252A; /*Color 4*/
	padding: 20px;
	max-width: 600px;
	margin: 20px auto;
	border-radius: 4px;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3); /*Color 4*/
}

.videoDataOutputs  {
	
	padding: 20px;
	max-width: 80%;
	margin: 20px auto;
	border-radius: 4px;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3); /*Color 4*/
}

#video  {
	position: center;
	background: #17252A; /*Color 4*/
	padding: 20px;
	max-width: 1200px;
	margin: 20px auto;
	
	border-radius: 4px;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3); /*Color 4*/
	margin: 20px auto;
}

.video_div{
	position: relative;
	max-width: 560px;
}
.video_div h4{
	text-align: center;
	font-size: 50px;
}

.video_pro{
	position: right;

}
.video_pro h4{
	text-align: center;
}
#MidLeft{
	border-right:5px solid rgba(19, 35, 47, 0.3);
}
#MidRight{
	border-left:5px solid rgba(19, 35, 47, 0.3);
}

/* For edit page */
.edit-label  {
	color: #52908B;
	font-size: 22px;
	padding-left: 50px;
}

label .req  {
	margin: 2px;
	color: #FEFFFF; /*Color 3*/
}

label.active  {
	
	transform: translateY(50px);
	left: 2px;
	font-size: 14px;
}

label.active .req  {
	opacity: 0;
}

label.highlight  {
	color: #ffffff;/*Color 2*/
}

input, textarea  {
	font-size: 22px;
	display: block;
	width: 100%;
	height: 100%;
	padding: 5px 10px;
	background: none;
	border: 1px solid #a0b3b0;
	color: #f7f7f7; /*Color 2*/
	border-radius: 0;
	
}

input:focus, textarea:focus  {
	outline: 0;
	background: #585c65;  /*Color 4*/
}


.field-wrap  {
	position: relative;
	margin-bottom: 10px;
	padding-bottom: 10px;
}


.button  {
	border: 0;
	outline: none;
	border-radius: 0;
	padding: 10px 0;
	font-size: 2rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .1em;
	background: #585c65; /*Color 3*/
	color: #ffffff; /*Color 2*/
}

.button:hover, .button:focus  {
	background: #808080;
}

.button-block  {
	display: block;
	width: 100%;
}

#proccesedVideo{
	max-width: 2000px;
	
}
#pos{
	padding-left: 560px;
}

.error {
    padding: 10px;
    background-color: #ff0000;
	text-align: center;
    color: white;  
	margin-bottom: 10px;
}


