@font-face  {
	font-family: "BrandonGrotW01Light";
	src: url('../fonts/BrandonGrotW01Light.woff');
	src: url('../fonts/BrandonGrotW01Light.ttf');
}

/* Code for general appearance */
main  {
	min-width: 600px;
}

h1  {
	text-align: center;
	color: #393F44;
	margin: 0;
	font-family:"BrandonGrotW01Light";
	font-size: 70px;
	min-width: 400px;
}

h2  {
	text-align: center;
	color: #393F44;
	margin: 0;
	font-family:"Impact",Charcoal,sans-serif;
	font-size: 48px;
	letter-spacing: 4px;
}

h3  {
	margin: 0 0 5px;
	text-align: center;
	font-family:"BrandonGrotW01Light";
	font-size: 30px;
	color: black;
}

.h3PleaseSelect  {
	margin: 100px;
}

h4  {
	text-align: center;
	color: white;
	font-size: 28px;
}

.loginLink  {
	color:#1ab188;
}
.column{
	float: left;
	width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}

hr  {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 2px;
	border-color: #6e7f80;
}

*, *:before, *:after  {
	box-sizing: border-box;
}

html  {
	overflow-y: scroll;
}

body  {
	background: #E5F1F1;
	font-family: 'Titillium Web', sans-serif;
}

a, .left  {
	text-decoration:none;
	-webkit-appearance:none;
	color: rgb(0, 0, 0);
	transition:.5s ease;
}

a:hover, .left:hover  {
	color: #0BDA51;
}

nav  {
	float: right;
}

li  {
	display: inline;
	font-family:"BrandonGrotW01Light";
	font-size: 24px;
	border-radius: 3px;
}

.link  {
	color: rgb(59, 59, 59);
	padding: 1px 10px 1px 10px;
}

.button-container  {
	position: relative;
	text-align: center;
	display: table;
	margin: 0 auto;
	padding-bottom: 20px;
}

.button-link  {
	border: solid rgba(57, 63, 68, 1) 1px;
	position: relative;
	border-radius: 100px;
	display: block;
	padding: 10px;
	transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
	padding: auto;
	background: rgba(160, 179, 176, 0.25);
	text-align: center;
	cursor: important;
	color: #a0b3b0;
	font-size: 20px;
}

.button-group  {
	list-style: none;
	display: table;
	margin: 0;
	padding: 0;
}

.button-group li  {
	display: table-cell;
	position: relative;
}

.button-group li a:hover  {
	background: #179b77;
	color: #ffffff;
}

input::placeholder  {
	color: rgba(255, 255, 255, 0.5);
}

.drop-down  {
	background-color: rgba(19, 35, 47, 0.9);
	padding: 6px;
	color: rgba(255, 255, 255, 0.6);
	float: right;
	font-size: 20px;
	font-family: 'Titillium Web', sans-serif;
}

.edit-drop-down  {
	background-color: #E5F1F1;
	padding: 6px;
	color: #393F44;
	font-size: 20px;
	font-family: 'Titillium Web', sans-serif;
}

footer  {
	text-align: center;
	background-color: #595959;
	color: white;
}

.field-wrap-error {
	position: relative;
	margin-bottom: 10px;
	padding-bottom: 10px;
	font-size: 1.3rem;
	color: #D8000C;
}

table  {
	background-color: rgba(19, 35, 47, 0.9);
	width: 80%;
	text-align: center;
	padding: 2px;
	margin: 0 auto 20px auto;
	border-radius: 3px;
	table-layout: fixed;
}

th, td  {
	background-color: rgb(226, 248, 243);
	word-wrap: break-word;
	padding: 3px;
	margin: 4px;
	height: 3em;
}

label  {
	position: absolute;
	left: 13px;
	color: rgba(255, 255, 255, 0.5);
	font-size: 22px;
}

/* For edit page */
#edit-block  {
	padding-left:50px;
	display: inline-block;
	box-sizing: border-box;
	width: 600px;
}

.edit-input  {
	color: #2C4A52;
}

.edit-input::placeholder  {
	color: #ACBEBE;
}

.edit-form-p  {
	font-family: "BrandonGrotW01Light";
	font-size: 1.25rem;
}

.form  {
	background: rgba(19, 35, 47, 0.9);
	padding: 20px;
	max-width: 600px;
	margin: 20px auto;
	border-radius: 4px;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

/* For edit page */
.edit-label  {
	color: #52908B;
	font-size: 22px;
	padding-left: 50px;
}

label .req  {
	margin: 2px;
	color: #1ab188;
}

label.active  {
	-webkit-transform: translateY(50px);
	transform: translateY(50px);
	left: 2px;
	font-size: 14px;
}

label.active .req  {
	opacity: 0;
}

label.highlight  {
	color: #ffffff;
}

input, textarea  {
	font-size: 22px;
	display: block;
	width: 100%;
	height: 100%;
	padding: 5px 10px;
	background: none;
	background-image: none;
	border: 1px solid #a0b3b0;
	color: #ffffff;
	border-radius: 0;
	-webkit-transition: border-color .25s ease, box-shadow .25s ease;
	transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus, textarea:focus  {
	outline: 0;
	border-color: #1ab188;
	background: rgba(255, 255, 255, 0.5);
}

textarea  {
	border: 2px solid #a0b3b0;
	resize: vertical;
}

.field-wrap  {
	position: relative;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.split-row:after  {
	content: "";
	display: table;
	clear: both;
}

.split-row > div  {
	float: left;
	width: 48%;
	margin-right: 4%;
}

.split-row > div:last-child  {
	margin: 0;
}

.button  {
	border: 0;
	outline: none;
	border-radius: 0;
	padding: 10px 0;
	font-size: 2rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .1em;
	background: #1ab188;
	color: #ffffff;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-appearance: none;
	font-family:"BrandonGrotW01Light";
}

.button:hover, .button:focus  {
	background: #179b77;
}

.button-block  {
	display: block;
	width: 100%;
}

/* For edit page */
.button-block-edit  {
	display: block;
	font-size: 1.5rem;
	width: 100%;
}

.show  {
	border: 2px outset rgb(94, 92, 92);
	background: rgb(167, 164, 164);
	padding: 3px 9px;
}

.show:active  {
	border: 2px inset rgb(56, 56, 56);
}

.edit-pref  {
	margin-left: 40%;
}

/* Alert Windows */
.alert  {
	padding: 20px;
	background-color: #f44336;
	color: white;
	opacity: 1;
	transition: opacity 0.6s;
	margin-bottom: 15px;
	font-family:'Titillium Web', sans-serif;
}

.alert.success  {
	background-color: #20948B;
}
.alert.info  {
	background-color: #2196F3;
}
.alert.warning  {
	background-color: #ff9800;
}
.closebtn  {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover  {
	color: black;
}

#map  {
	border: 2px solid black;
	border-radius: 3px;
	height: 400px;
	width: 500px;
}

.dropdown-button  {
	background-color: #E5F1F1;
	color: rgb(71, 70, 70);
	padding: 0;
	font-family:"BrandonGrotW01Light";
	font-size: 24px;
	border: none;
	cursor: pointer;
}

.dropdown-button:hover  {
	color: #0BDA51;
}

nav.select  {
	padding: 0;
	float: left;
}

/* Dropdown Content (Hidden by Default) */
.list-content  {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.list-content a  {
	color: rgb(0, 0, 0);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.list-content a:hover  {
	color: #0BDA51;
}

/* Show the dropdown menu on hover */
nav.select:hover .list-content  {
	display: block;
}
