<!-- Help Page -->

{% extends 'base.html' %}

<html>
	{% block head %}
		<head>			
			
			<title>Processed Video</title>
			<h1>Processed Video Outputs</h1>
		</head>
	{% endblock%}
	
	{% block body %}
		<body>
			<br><br>
			<!-- Set out everything in a table -->
			<div class="form" id="video">
				<table class="videoDataTable">
					
					<tr class="videoDataTR">
						<td class="videoDataTD">
							<h4>After Clicking Upload Pick the four corners of the court starting from top left and going clockwise.</h4>
							<img src='{{ MEDIA_URL }}Image_Guide/Step1.PNG'>
						</td>
					</tr>
					<tr class="videoDataTR">
						<td class="videoDataTD">
							<h4>Then drag the selection tool over the first players shirt.  Hitting enter once happy with the positioning</h4>
							<img src='{{ MEDIA_URL }}Image_Guide/Step2.PNG'>
						</td>
					</tr>
					<tr class="videoDataTR">
						<td class="videoDataTD">
							<h4>Do the same for player two if applicable</h4>
							<h4>If you're unable to get a good capture of the shirt you can press enter until you're at an appropriate frame</h4>
							<img src='{{ MEDIA_URL }}Image_Guide/Step3.PNG'>
						</td>
					</tr>
					<tr class="videoDataTR">
						<td class="videoDataTD">
							<h4>You can than press 'p' to stop the tracking if you want to skip over a section of video.</h4>
							<img src='{{ MEDIA_URL }}Image_Guide/Step4.PNG'>
							<h4>Press 'p' again to unpause.</h4>
						</td>	
					</tr>
					<tr class="videoDataTR">
						<td class="videoDataTD">
							<h4>Then just wait for process to finish and you'll be redirected to the data page.</h4>
							<img src='{{ MEDIA_URL }}Image_Guide/Step5.PNG'>
							<h4>And you're all done!</h4>
						</td>	
					</tr>
				</table>	
				
	
			</div>
				<br><br>
			
		</body>
	{% endblock%}
</html>
