{% extends 'base.html' %}

<html>
	{% block head %}
		<head>				
			<title>Upload Videos</title>
			<h1>Video Uploader</h1>
		</head>
	{% endblock %}

	{% block body %}
		<body>
			<div class="form">

				<form enctype="multipart/form-data" method="POST" action="">
					{% csrf_token %}
					<div class="field-wrap">
						{{ form.name }}
					</div>

					<div class="field-wrap">
						{{ form.player1 }}
					</div>
			
					<div class="field-wrap">
						{{ form.player2 }}
					</div>

					<div class="field-wrap">
						{{ form.videofile }}
					</div>		
					
					<input type="submit" value="Upload"/>
				</form>
				<br><br>				
			</div>
		</body>
	{% endblock %}
</html>
