{% extends 'base.html' %}

<html>
	{% block head %}
		<head>				
			<title>Upload Videos</title>
			<h1>Video Uploader</h1>
		</head>
	{% endblock %}

	{% block body %}
		<body>
			<div class="form">

				<form enctype="multipart/form-data" method="POST" action="">
					{% csrf_token %}
					<div >
						{{ form.name }}
					</div>

					<div >
						<h5>Name of Player 1: {{ form.player1 }}</h5>
					</div>
			
					<div >
						<h5>Name of Player 2: {{ form.player2 }}</h5>
					</div>
					<div >
						<h5>Number of Players to be tracked: {{ form.noPlayers }}</h5>
					</div>
					<div class="field-wrap">
						{{ form.videofile }}
					</div>		
					
					<input type="submit" value="Upload"/>
				</form>
				<br><br>				
			</div>
		</body>
	{% endblock %}
</html>
