{% extends 'base.html' %}

<html>
	{% block head %}
		<head>			
			
			<title>Show Player Data</title>
			<h1>Show Player Data</h1>
		</head>
	{% endblock%}
	
	{% block body %}
		<body>
			
			<div class="form">
				<br><br>
				<div class="field-wrap">
					<table> 
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>country</th>							
						</tr>
											
							<tr>
							<td class="t1">{{ player.playerId}}</td>
							<td class="t2">{{ player.get_name }}</td>	
							<td class="t2">{{ player.country }}</td>							
						</tr>				
					</table>
				</div>
				<br><br>				
			</div>
		</body>
	{% endblock%}
</html>
