<!-- Player selection page -->
{% extends 'base.html' %}

<html>
	{% block head %}
		<head>				
			<title>Player Selection</title>
			<h1>Player Selection</h1>
		</head>
	{% endblock %}

	{% block body %}
		<body>
			<h3> G'day {{user.get_username}} ({{user.usertype}})</h3>
			
			<!-- Form for selecting player -->
			<form class="form" method="POST">
				{% csrf_token %}
			    
				<div class="div-wrap">
					{{ form.first_name }}
				</div>
				<div class="div-wrap">
					{{ form.last_name }}
				</div>
				<div class="div-wrap">
					{{ form.country }}
				</div>
					
				<button type="submit" class="button button-block" value="search" name="search"/>search</button>				
									
			</form>
			
			<!-- Display list of players -->
			<h3> Registered Squash Players </h3>
			<table> 
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Link</th>
					
				</tr>
				{% for player in playerList %}					
					<tr>
						<td class="t1">{{ player.playerId}}</td>
						<td class="t2">{{ player.get_name }}</td>													
						<td class="t4"><a class="show" href="{% url 'playerData' playerId=player.playerId %}">Show Data</a></td>
					</tr>
					
				{% endfor %}
			</table>			
		</body>
	{% endblock %}
</html>
