{% extends 'base.html' %}

<html lang="en">	
	{% block head %}
		<head>    
		<title>AUSSIE SQUASH MATE!</title>		
			<meta name="viewport" content="width=device-width, initial-scale=1">	
		</head>		
	{% endblock %}

	{% block navigation %}{% endblock %}
	{% block body %}
		<body>
			<main>
				<h1>AUSSIE SQUASH MATE!</h1>
				<hr>
				<div class="form">
					<div class="link">
						<h4>Already a user? <a  class="loginLink" href="http://127.0.0.1:8080/squashApp/login">Login</a></h4>
					</div>
					<h4>Or register below to use ASA</h4>
					
					<form  method="POST">
						{% if form.errors %}
							{% for field in form %}
								{% for error in field.errors %}
									<div class="alert alert-danger">
										<strong>{{ error|escape }}</strong>
									</div>
								{% endfor %}
							{% endfor %}
							{% for error in form.non_field_errors %}
								<div class="alert alert-danger">
								<strong>{{ error|escape }}</strong>
								</div>
							{% endfor %}
						{% endif %}
						
						{% if register_password_message != NULL %}
							<div class="alert alert-danger">
									<strong>{{ register_password_message|escape }}</strong>
							</div>
						{% endif %}
						
						{% csrf_token %}
						<div class="split-row">
							<div class="field-wrap">
								{{ form.first_name }}
							</div>

							<div class="field-wrap">
								{{ form.last_name }}
							</div>
						</div>
						
						<div class="split-row">
							<div class="field-wrap">
								{{ form.username }}
							</div>

							<div class="field-wrap">
								<label for="form.usertype">
									Preference<span class="req">*</span>
								</label>
								{{ form.usertype }}
							</div>
						</div>

						<div class="field-wrap">
							{{ form.email }}						
						</div>
						<div class="field-wrap">
							{{ form.password }}
						</div>
						<div class="field-wrap">
							{{ form.password_confirm }}
						</div>
						<button type="submit" class="button button-block" value="Register" name="Register"/>Register</button>
					</form>
				</div>
			</main>
		</body>
	{% endblock %}
</html>