{% extends 'base.html' %}

<html>
	{% block head %}
		<head>				
			<title>Video Selection</title>
			<h1>Video Selection</h1>
		</head>
	{% endblock %}

	{% block body %}
		<body>
			<h3> G'day {{user.get_username}}</h3>
			
			<form class="form" method="POST">
				{% csrf_token %}
			    <div class="split-row">
					<div class="field-wrap">
						{{ form.searchVideo }}
					</div>

					<div class="field-wrap">
						{{ form.searchPlayer }}
					</div>
				</div>	
				<button type="submit" class="button button-block" value="search" name="search"/>search</button>				
									
			</form>
			
			{% if showSearch != True %}
				<h3> Recent Uploads </h3>
				<table> 
					<tr>
						<th>Video</th>
						<th>Player 1</th>
						<th>Player 2</th>
						<th>Link</th>
					</tr>
					{% for video in videoList|slice:":10" %}					
						<tr>
							<td class="t1">{{ video.name }}</td>
							<td class="t2">{{ video.player1 }}</td>	
							<td class="t3">{{ video.player2 }}</td>							
							<td class="t4"><a class="show" href="{% url 'videoData' videoId=video.videoId %}">Show Data</a></td>
						</tr>
						
					{% endfor %}
				</table>
			{% endif %}
			
			{% if showSearch == True %}
				<h3> Search Results </h3>
				<table> 
					<tr>
						<th>Video</th>
						<th>Player 1</th>
						<th>Player 2</th>
						<th>Link</th>
					</tr>
					{% for video in videoList %}					
						<tr>
							<td class="t1">{{ video.name }}</td>
							<td class="t2">{{ video.player1 }}</td>	
							<td class="t3">{{ video.player2 }}</td>							
							<td class="t4"><a class="show" href="{% url 'videoData' videoId=video.videoId %}">Show Data</a></td>
						</tr>
						
					{% endfor %}
				</table>
			{% endif %}
			
		</body>
	{% endblock %}
</html>
