{% extends 'base.html' %}

<html>
	{% block head %}
		<head>			
			
			<title>Processed Video</title>
			<h1>Processed Video Outputs</h1>
		</head>
	{% endblock%}
	
	{% block body %}
		<body>
			<br><br>
			
			<div class="form" id="video">
			
				<table class="videoDataTable">
					
					<tr class="videoDataTR">
						<td>
							<br><br>
							<div class="video_div"> 
								<h4>{{parentvideo.name}} Original</h4>
								<video width='560' controls>								
									<source src='{{ MEDIA_URL }}{{ parentvideo.videofile }}' type='video/mp4'>
									Your browser does not support the video tag.
								</video>
							</div>
						</td>
						<td>
							<br><br>
							<div class="video_div"> 
								<h4>{{parentvideo.name}} Tracking Video</h4>
								<video width='560' controls>								
									<source src='{{ MEDIA_URL }}{{ video.processedVideoFile }}' type='video/mp4'>
									Your browser does not support the video tag.
								</video>
							</div>
						</td>
					</tr>
				</table>	
				<table class="videoDataTable">
					
					<tr>	
						<td>
						<div class="video_div"> 
							<h4>{{player1.get_name}} Heat Map Generation</h4>					
							<video width='560' controls>							
								<source src='{{ MEDIA_URL }}{{ video.player1HeatMapVideo }}' type='video/mp4'>							
								Your browser does not support the video tag.
							</video>
						</div> 
						</td>
						<td>
						<div class="video_div">
							<h4>{{player2.get_name}} Heat Map Generation</h4>
							<video width='560' controls>						
								<source src='{{ MEDIA_URL }}{{ video.player2HeatMapVideo }}' type='video/mp4'>
								Your browser does not support the video tag.
							</video>
						</div>		
						</td>
					</tr>
				</table>
			</div> 
			
			
			<br><br>
			
			<div class="videoDataOutputs">
				<table class="videoDataTable">
					<tr>
						<td>
							<h1>{{player1.get_name}}  ({{parentvideo.player1Colour}})</h1>
						</td>
						<td>
							<h1>{{player2.get_name}} ({{parentvideo.player2Colour}})</h1>
						</td>
						
						
					</tr>
				</table>			
				<table class="videoDataTable">
					
					<tr>
					
						<td class="videoDataTD">						
							<h3>Time in T : {{video.player1TimeInT}} percent</h3>						
							<img src='{{ MEDIA_URL }}{{ video.player1HeatMapImage }}'>	
						</td>								
						<td class="videoDataTD" id="MidLeft">								
							<h3>Distanced Travelled : {{video.player1DistanceTravelled}} Meters</h3>						
							<img src='{{ MEDIA_URL }}{{ video.player1StringLineImage }}'>								
						</td>	
								
					
						<td class="videoDataTD" id="MidRight">		
						
							<h3>Time in T : {{video.player2TimeInT}} percent</h3>						
							<img src='{{ MEDIA_URL }}{{ video.player2HeatMapImage }}'>		
						</td>
						<td class="videoDataTD">
							<h3>Distanced Travelled : {{video.player2DistanceTravelled}} Meters</h3>				
							<img src='{{ MEDIA_URL }}{{ video.player2StringLineImage }}'>
							
						</td>
					</tr>
				</table>
							
			</div>
			
			<br><br>	
		
				<br><br>
			
		</body>
	{% endblock%}
</html>
